{% include "header.html" %}

<body id="root">
    <div class="ui inverted vertical center aligned segment">
      <nav class="ui container">
        <h1 class="ui inverted header">Bomban.cloud</h1>
        <div class="ui borderless inverted compact menu">
          <a class="item" href="/">Home</a>
          <a class="active item" href="/blog">Blog</a>
          <a class="item" href="https://www.linkedin.com/in/petterbomban">LinkedIn</a>
          <a class="item" href="http://github.com/petter-bomban">Github</a>
        </div>
      </nav>
  
      <div class="ui content container">
        <h1 class="ui inverted header">Blog</h1>
        <p>
            Work in progress..
        </p>
      </div>

{% include "footer.html" %}
